.nav > li > .navbar-profile {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-nav.navbar-right, .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}


.challenge-participant-list {
  width: 25%;
}
.challenge-participant-list a {
  text-decoration: none;
}
.challenge-participant-list img {
  height: 20px;
}
.fade {
  opacity: 0.5;
}


.challenge-details .challenge-creator {
  width: 120px;
}
.challenge-details .challenge-creator img {
  height: 40px;
}

.challenge-title .glyphicon-off {
  vertical-align: text-top;
}

.challenge-participants-item img {
  height: 50px;
}
.challenge-participants-item span {
  font-size: 2em;
  cursor: pointer;
  vertical-align: middle;
}
