.nav > li > .navbar-profile {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-nav.navbar-right, .navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

.challenge-participant-list {
  width: 25%;
}
.challenge-participant-list a {
  text-decoration: none;
}
.challenge-participant-list img {
  height: 20px;
}
.challenge-participant-list .not-accepted {
  opacity: 0.5;
}
